# SmartKitchen AI - Python Dependencies
# Backend & ML

flask==3.1.1
flask-cors==5.0.1
pandas==2.2.3
numpy==2.2.6
scikit-learn==1.6.1
matplotlib==3.10.3
seaborn==0.13.2
joblib==1.5.1
openpyxl==3.1.5
requests==2.32.3
